body {
  height: 100%;
  background-image: linear-gradient(#ffb5b5, #ffe7e7);
}

.container {
  padding: 40px;
}

.row {
  margin: 4vh 0;
}

input {
  height: 40px;
  text-align: center;
}

textearea {
  width: 80%;
  height: 120px;
}

textarea::placeholder {
  text-align: center;
  line-height: 60px;
}

p{
  font-weight: 500;
}